# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:        
  build-java17:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:17.0.10

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx1048m
      TERM: dumb
    
    steps:
      - checkout #checks out your code to your working directory
      - restore_cache:
          keys:
            - dependency-cache
      - run:
          name: chmod permissions
          command: chmod +x ./gradlew
      - run:
          name: run checks
          command: ./gradlew check --no-daemon
          environment: 
            GRADLE_OPTS: "-Xmx1024m -Dorg.gradle.jvmargs='-Xmx1024m'"
      - store_artifacts:
          path: build/reports

  build-java21:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:21.0

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx1048m
      TERM: dumb
    
    steps:
      - checkout #checks out your code to your working directory
      - restore_cache:
          keys:
            - dependency-cache
      - run:
          name: chmod permissions
          command: chmod +x ./gradlew
      - run:
          name: run checks
          command: ./gradlew check --no-daemon
          environment: 
            GRADLE_OPTS: "-Xmx1024m -Dorg.gradle.jvmargs='-Xmx1024m'"
      - store_artifacts:
          path: build/reports

workflows:
  version: 2
  build:
    jobs:
      - build-java17
      - build-java21